*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 500px;
    background-color: red;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input-date{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
    margin-bottom: 20px;

}

#input-date input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

#input-date button{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}