*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 500px;
    background-color: #e2e4e5;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input-date{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 8px;

}

#input-date input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
}

#input-date button{
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
}

#output {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 8px;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#year-text, #month-text, #day-text {
    font-size: 30px;
    font-weight: bold;
}